

.contents{
    background: url('../images/bear.jpg') no-repeat;
    width: 320px;
    height: 320px ;
    margin: 0 auto ;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 5px 2px 30px #000;
}